.glass-nav {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(57, 255, 20, 0.15);
    box-shadow: 0 4px 16px white;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    border-radius: 15px;
    z-index: 1000;
    width: fit-content;
    min-width: 500px;
}

.nav-links {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.nav-btn {
    color: #e7e5e3;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 5px 15px;
    text-decoration: none;
}

.nav-btn:hover {
    transform: translateY(-2px);
    color: #e08918;
    text-shadow: 0 0 8px rgba(244, 208, 28, 0.4);
}